pom-generated.xml
Manifest.txt
colors.jar
lib
priv
autodoc/**
resources/**
*.jar
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
package-lock.json
node_modules
.shadow-cljs
.cache
.cpcache
.rebel*
